PORT=9000
DB_STRING=mongodb+srv://{data base username}:{data base password}@cluster0.vbhr9pb.mongodb.net/?appName=Cluster0
secretKey=secretKey
email=ankanlogin@gmail.com // your email
password=ltmn hycg pytm wdre // your app password 